.discount {
    padding: 20px;
    background-color: #6F4E37; 
    color: white; 
}

.discount_main {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}

.discount_main div {
    display: flex;
    flex-direction: column;
}

.discount select {
    background: white;
    padding: 10px;
    color: #6F4E37; 
    border-radius: 5px;
    border: 3px solid #A68A64; 
    margin-top: 4.5px;
    outline: 0;
}

.discount input {
    padding: 10px;
    background-color: white;
    margin-top: 4px;
    outline: 0;
    color: #6F4E37; 
    border-radius: 5px;
    border: 3px solid #A68A64; 
    width: 100%;
}

.discount p {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: right;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    z-index: 1;
    color: #FFD700; 
}

.discount label {
    font-size: 20px;
    color: #D2B48C; 
}

.discount button {
    background-color: #CC5500; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; 
}

.discount button:hover {
    background-color: #A68A64; 
}

.empty {
    color: white;
    background-color: #CC5500; 
    padding: 0.7rem 2rem;
    width: max-content;
    margin: 15rem auto;
    font-size: 1.7rem;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .discount_main {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .discount p {
        font-size: 24px; 
    }

    .discount label {
        font-size: 18px; 
    }

    .discount button {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .discount p {
        font-size: 20px; 
    }

    .discount label {
        font-size: 16px; 
    }

    .discount button {
        font-size: 12px; 
    }

    .empty {
        font-size: 1.2rem; 
        padding: 0.5rem 1rem;
        margin: 10rem auto; 
    }
}