.box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  border-radius: 5px;
  padding: 1rem;
  border: 2px solid #CC5500; 
  position: relative;
  width: 270px;
  margin: 0 auto;
  background-color: #A68A64; 
  color: white;
}

.box_chart_icon {
  color: #CC5500; 
  font-size: 2.5rem;
}

.box p::after {
  content: "";
  position: relative;
  height: 2px;
  top: 6px;
  display: block;
  background-color: #CC5500; 
  width: 80%;
}

.box p::before {
  content: "";
  position: relative;
  height: 2px;
  top: 40px;
  display: block;
  background-color: #CC5500; 
  width: 58%;
}

@media (max-width: 768px) {
  .box {
      width: 100%;
  }
}