.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.form span {
  color: #a68a64;
  font-size: 14px;
}

.form p {
  font-size: 22px;
  margin-top: 0.5rem;
  color: #6f4e37;
}

.groups {
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
}

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.group label {
  font-size: 14px;
  color: #6f4e37;
}

.form input,
.form textarea {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  color: #6f4e37;
  padding: 0.8rem 1rem;
  font-size: 16px;
  border-radius: 5px;
  resize: none;
  direction: rtl;
  width: 100%;
}

.form button {
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #cc5500;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.form button:hover {
  background-color: #ffd700;
  color: #ffffff;
}

@media (max-width: 768px) {
  .groups {
    flex-direction: column;
    gap: 10px;
  }

  .form p {
    font-size: 18px;
  }

  .form button {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .form p {
    font-size: 16px;
  }

  .form input,
  .form textarea {
    font-size: 14px;
  }

  .form button {
    font-size: 11px;
  }
}
