/* sms.module.css */

.form {
  display: grid;
  background-color: #FFFFFF; /* پس‌زمینه سفید */
  padding: 50px 95px;
  width: 380px;
  font-family: shabnam;
  margin: 7rem auto 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(90, 62, 54, 0.1); /* سایه با رنگ قهوه‌ای تیره */
  text-align: center;
  color: #5A3E36; /* متن قهوه‌ای تیره */
}

.input {
  font-family: shabnam;
  padding: 13px;
  background-color: #FFFFFF; /* پس‌زمینه سفید */
  color: #5A3E36; /* متن قهوه‌ای تیره */
  border-radius: 3px;
  border: 1px solid #A68A64; /* حاشیه قهوه‌ای روشن */
  direction: ltr;
  margin-top: 20px;
}

.btn {
  padding: 0.8rem;
  cursor: pointer;
  font-family: shabnam;
  background-color: #CC5500; /* پس‌زمینه نارنجی گرم */
  color: #FFFFFF; /* متن سفید */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #FFD700; /* هاور با رنگ طلایی */
}

.code_title {
  font-size: 13px;
  margin-top: 18px;
  color: #5A3E36; /* متن قهوه‌ای تیره */
  opacity: 0.6;
  white-space: nowrap;
}

.number {
  font-size: 13px;
  margin-top: 7px;
  color: #5A3E36; /* متن قهوه‌ای تیره */
  opacity: 0.6;
  white-space: nowrap;
}

.send_again_code {
  font-size: 13px;
  margin-top: 7px;
  opacity: 0.6;
  cursor: pointer;
  white-space: nowrap;
  color: #5A3E36; /* متن قهوه‌ای تیره */
}

.redirect_to_home {
  display: block;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
  font-family: shabnam;
  font-size: 13px;
  margin-top: 0.75rem;
  padding: 10px  25px;
  border-radius: 10%;
  color: #FFF; /* متن نارنجی گرم */
  background-color: #CC5500;
  transition: all 0.3s ease;
}

.redirect_to_home:hover {
  background-color: #FFD700; /* هاور با رنگ طلایی */
}