.layout {
  background: #6F4E37; 
  width: 100%;
  direction: rtl;
  min-height: 100vh;
  color: white;
}

.section {
  display: flex;
}

.contents {
  width: 100%;
  margin-right: 350px; 
  transition: margin-right 0.3s ease;
}

.sidebar {
  width: 350px;
  height: 100vh;
  background-color: #A68A64; 
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.closeSidebar {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1036px) {

  .sidebar {
    transform: translateX(100%) !important;
}

.sidebar.open {
    transform: translateX(0) !important;
}
}

@media (max-width: 992px) {
  .contents {
    margin-right: 0;
  }

  .sidebar {
    transform: translateX(100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .closeSidebar {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 270px;
  }
}