/* product.module.css */

.container {
  overflow: auto;
  background-color: #A68A64; /* پس‌زمینه سفید */
}

.contents {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 160px;
  text-align: right;
  padding-top: 25px;
  color: #5A3E36; /* متن قهوه‌ای تیره */
  direction: rtl;
  font-family: shabnam;
  padding-bottom: 5rem;
}

.contents hr {
  border-top-color: #A68A64; /* خط جداکننده با رنگ قهوه‌ای روشن */
  margin: 20px 0px;
}

.main {
  gap: 50px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .contents {
      padding: 0 20px;
  }
}

@media (max-width: 992px) {
  .main {
      flex-direction: column;
      gap: 20px;
  }

  .main > * {
      width: 100% !important;
  }
}

@media (max-width: 768px) {
  .contents {
      margin-top: 120px;
  }
}

@media (max-width: 576px) {
  .contents {
      margin-top: 100px;
  }
}

.productTitle {
  color: #6F4E37;
  font-size: 1.8rem;
  text-align: right;
  margin: 1rem 0 0.5rem;
  font-weight: 700;
  padding: 0 1rem;
}

.productSubtitle {
  color: #A68A64;
  text-align: right;
  padding: 0 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .productTitle {
    font-size: 1.5rem;
  }
  
  .productSubtitle {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
}