.container {
  color: #5A3E36; 
  text-align: right;
  max-width: 1222px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-bottom: 4rem;
  direction: rtl;
  margin-left: auto;
  background-color: #FFF; 
  padding: 20px; 
  border-radius: 8px; 
}

.container p,
.container span {
  margin-bottom: 20px;
  text-align: justify;
  color: #5A3E36; 
  line-height: 1.8; 
}

.container p:nth-child(2) {
  margin-bottom: 0px;
}

.container strong {
  color: #CC5500; 
}

.container a {
  color: #FFD700; 
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
      padding-right: 20px; 
      padding-left: 20px;
  }

  .container p,
  .container span {
      font-size: 16px; 
      line-height: 2; 
  }
}

@media (max-width: 480px) {
  .container {
      padding-right: 15px; 
      padding-left: 15px;
  }

  .container p,
  .container span {
      font-size: 18px; 
      line-height: 2.2; 
  }
}