.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 18px;
    margin-top: 6.5rem;
    padding-bottom: 3.8rem;
    background-color: #6F4E37; /* قهوه‌ای گرم */
    color: #FFFFFF; /* سفید */
  }
  
  .stepper p,
  .stepper a {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2;
    opacity: 0.7;
  }
  
  .stepper svg {
    font-size: 1.2rem;
    opacity: 0.7;
  }
  
  /* ریسپانسیو برای سایز 768px */
  @media (max-width: 768px) {
    .stepper {
      gap: 10px;
      padding-bottom: 2rem;
    }
  
    .stepper p,
    .stepper a {
      font-size: 16px;
    }
  
    .stepper svg {
      font-size: 1rem;
    }
  
    .stepper_bg {
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  /* ریسپانسیو برای سایز 480px */
  @media (max-width: 480px) {
    .stepper p,
    .stepper a {
      font-size: 14px;
    }
  
    .stepper svg {
      font-size: 0.8rem;
    }
  }

  .active_step {
    color: #FFD700 !important;
  }