.content_details {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #CC5500; 
}

.content {
  background-color: #A68A64; 
  width: 50%;
  color: white;
  padding: 0px 15px;
  border-radius: 5px;
}

.content_details a svg {
  color: #CC5500; 
}

.content_details a {
  display: flex;
  align-items: center;
  gap: 9px;
}

.content:nth-child(1) a:not(.content_details *) {
  background: #CC5500 !important; 
  border-right-color: white;
  color: white;
}



.empty {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 9rem 0 12.5rem 0;
}

@media (max-width: 768px) {
  .content {
      width: 100%;
  }

  .content_details {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .content_details p {
      font-size: 14px;
  }

  .content_details a {
      font-size: 12px;
  }
}