.empty {
    color: white;
    background-color: #CC5500; /* تغییر به نارنجی گرم */
    padding: 0.7rem 2rem;
    width: max-content;
    margin: 15rem auto;
    font-size: 1.7rem;
    border-radius: 5px;
  }

  @media (max-width: 875px) {

    .empty {
        font-size: 1.4rem; /* کاهش سایز فونت برای تبلت‌ها */
        margin: 10rem auto; /* کاهش فاصله برای تبلت‌ها */
    }
  }

  @media (max-width: 768px) {

    .empty {
        font-size: 1.2rem; /* کاهش بیشتر سایز فونت برای موبایل‌ها */
        padding: 0.5rem 1rem; /* کاهش پدینگ برای موبایل‌ها */
    }
  }

  @media (max-width: 425px) {

    .empty {
        font-size: 1rem; /* کاهش بیشتر سایز فونت برای موبایل‌های کوچک */
        padding: 0.4rem 0.8rem; /* کاهش پدینگ برای موبایل‌های کوچک */
    }
  }




