.ticket {
    width: 100%;
    border-right: 3px solid #CC5500; 
    padding: 1rem;
    background-color: #A68A64; 
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 1rem auto;
    height: auto; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px; 
}

.department {
    padding: 0.5rem;
    width: max-content;
    border-radius: 5px;
    background: white;
    color: #6F4E37; 
}

.ticket div {
    text-align: center;
}

.no_answer {
    background-color: #CC5500; 
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

.answer {
    background-color: #6F4E37;
    color: white; 
    border-radius: 5px;
    padding: 0.5rem;
}

.ticket div {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ticket div:nth-child(2) {
    padding-top: 0.5rem;
}

@media (max-width: 768px) {
    .ticket {
        flex-direction: column; 
        text-align: center;
    }

    .ticket div {
        width: 100%; 
    }
}