.description {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(90, 62, 54, 0.1);
  line-height: 3.25;
}

.description p {
  font-size: 14px;
  font-family: shabnam;
  color: #5a3e36;
}

@media (max-width: 768px) {
  .description {
    padding: 0 20px;
  }
}
