/* Description.module.css */

.description {
    margin-top: 20px;
    background-color: #FFFFFF; /* پس‌زمینه سفید */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(90, 62, 54, 0.1); /* سایه با رنگ قهوه‌ای تیره */
    line-height: 3.25;
}

.description p {
    font-size: 14px;
    font-family: shabnam;
    color: #5A3E36; /* متن قهوه‌ای تیره */
}

@media (max-width: 768px) {
    .description {
        padding: 0 20px;
    }
}